{
  "extends": ["next", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "error",
    "prettier/prettier": [
      "warn",
      {
        "tabWidth": 2,
        "useTabs": false,
        "semi": false,
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  }
}
